@media screen and (max-width: 600px) {
    .container {
    height: auto;
    }
    .text {
    width: 80%;
    }
    .greet {
    font-size: 24px;
    margin-top: 50px;
    height: 70px;
    }
    .navbar ul {
    margin: 5%;
    }
}
    
    @font-face {
        font-family: Shin Go;
        src: url(../Fonts/ShinGoFont.otf);
    }

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    font-family: Shin Go;
    }

    html, body {
    height: 100%;
    font-size: 14px;
    }
    
    body {
    color: #ffffff;
    background-image: url(../images/mainBG.gif);
    background-size: cover;
    }
    
    .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    }
    
    .text {
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    font-size: 1rem;
    padding: 20px;
    margin-bottom: 20px;
    width: 60%;
    max-width: 400px;
    }
    
    .greet {
    font-size: 2rem;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    }
    
    .navbar {
    text-align: center;
    }
    
    .navbar ul {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    .navbar li {
    margin-bottom: 10px;
    }
    
    .navbar li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    }
    
    .navbar li a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    }
    
    .info {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: left;
    }
    
    #rickroll:active, #rickroll:visited {
    color: #ffffff;
    text-decoration: underline;
    }
