@font-face {
    font-family: Shin Go;
    src: url(../Fonts/ShinGoFont.otf);
}

* {
    background-color: #d0cbd6;
    font-family: Shin Go;
}

body {
    margin: 0;
}

.container {
    position: relative;
    background: center fixed;
    background-image: url(../images/mainBG.gif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.greet {
    padding: 20px;
    text-align: center;
}

.navbar {
    padding: 20px;
    text-align: center;
}

.navbar ul{
    margin-top: 50px;
    list-style-type: none;
    margin: 15%;
    padding: 0;
    overflow: hidden;
}

.navbar li a {
    display: block;
    color: rgb(170, 42, 187);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    color: #333;
}
